.container{
    display: grid;
    grid-template-columns: 150px 1fr;
    margin:0;
}

.sidebar>ol>ul{
    display: grid;
    grid-template-rows: repeat(10, 4px);
    background-color: #475569;
    color:white;
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 50px;
    padding: 5px;
}

.searchicon, .noti, .profile{
    width:20px;
    padding: 5px;
}

.anouncemnet{
    grid-column: 5/5;
    grid-row: 2/2;
}
.trend{
    grid-column: 5/5;
    grid-row: 3/3;
}

.sidebar,ol, ul{
    list-style: none;
    padding-inline-start: 0px;
    margin:0;
    padding:0;
}

input{
    margin-top: 10px;
    height: 20px;
}