.container{
    display: grid;
    grid-template-columns: 150px 1fr;
}

.sidebar>ol>ul{
    display: grid;
    grid-template-rows: repeat(10, 4px);
}

.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 50px;
}

.trend{
    grid-column: 5/5;
}

ul{
    list-style: none;
    padding-inline-start: 0px;
}

input{
    margin-top: 10px;
    height: 20px;
}